body {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.overlay-open {
    overflow: hidden;
}

.close-btn {
    border: none;
    order: 1;
    font-size: 25px;
    background: transparent;
    color: white;
    cursor: pointer;
    width: 40px !important;
    padding-left: 100px;
}

.img-grid img {
    height: 300px;
    width: 300px;
    cursor: pointer;
    margin: 40px 0px 0px;
}

.img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    width: 100%;
    margin: 0 auto;
}

.img-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 9;
    display: none;
}

.content {
    margin: auto;
    width: 100%;
}

img {
    width: 700px;
    height: 500px;
}

.img-container {
    position: relative;
    z-index: 99;
}

.btn-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.prev-btn,
.next-btn {
    background: transparent;
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.zoom-img {
    display: grid;
    justify-items: end;
}

.zoom-img img {
    transition: all 0.5s ease-in-out;
}

@media screen and (min-width:320px) and (max-width: 410px) {
    .img-grid img {
        width: 150px;
        height: 150px;
    }

    img {
        width: 250px;
        height: 250px;
    }
}

@media screen and (min-width:410px) and (max-width: 800px) {
    .img-grid img {
        width: 200px;
        height: 200px;
    }

    img {
        width: 350px;
        height: 350px;
    }
}

@media screen and (min-width:320px) and (max-width: 800px) {
    .img-grid {
        grid-template-columns: 1fr 1fr;
    }

    .close-btn {
        padding-left: 0px;
    }
}